<mat-card class="container">     
    <mat-card-content  *ngIf="is_disabled && account">
        <mat-card-header>
           <p>
           Profile details
           </p>
        </mat-card-header>    
           
            <table>
                <tr>    
                    <td colspan="2">  
                        <label for="username"><b>Username:</b></label>  
                        <mat-form-field class="demo-full-width">    
                            <input id="username" matInput [value]="account.username" disabled>    
                        </mat-form-field>     
                    </td>         
                </tr>
                <tr>    
                    <td colspan="2">  
                        <label for="firstName"><b>First name:</b></label>  
                        <mat-form-field class="demo-full-width">    
                            <input  id="firstName" matInput [value]="account.firstName" disabled>    
                        </mat-form-field>    
                    </td>         
                </tr>
                <tr>    
                    <td colspan="2">  
                        <label for="lastName"><b>Last name:</b></label>  
                        <mat-form-field class="demo-full-width">    
                            <input  id="lastName" matInput [value]="account.lastName" disabled>    
                        </mat-form-field>    
                    </td>         
                </tr> 
                <tr>
                    <b>Contact:</b>
                </tr>
                <tr>    
                    <td>    
                        <mat-form-field id="phoneNumber" class="demo-full-width">    
                            <input matInput placeholder="Phone number" [value]="account.phoneNumber" disabled>    
                        </mat-form-field>    
                    </td>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Email" [value]="account.email" disabled>    
                        </mat-form-field>    
                    </td>    
                </tr>         
                    
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center" style="padding: 35px;">   
                        <button mat-raised-button color="accent" (click)="wantUpdate()">Update</button>     
                    </td>    
                </tr>    
            </table>    
       


    </mat-card-content>    




    <mat-card-content  *ngIf="!is_disabled">
        <mat-card-header>
           <p>
           Profile details
           </p>
        </mat-card-header>    
        <form [formGroup]="profileUpdateForm" (ngSubmit)="onSubmit()">    
            <table>
                <tr>    
                    <td colspan="2">  
                        <label for="username"><b>Username:</b></label>  
                        <mat-form-field class="demo-full-width">    
                            <input id="username" matInput [value]="this.account?.username" disabled>    
                        </mat-form-field>    
                    </td>         
                </tr>
                <tr>    
                    <td colspan="2">  
                        <label for="firstName"><b>First name:</b></label>  
                        <mat-form-field class="demo-full-width">    
                            <input formControlName="firstName" id="firstName" matInput >    
                        </mat-form-field>    
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('firstName')?.errors?.['required'] && profileUpdateForm.get('firstName')?.touched">
                            First name is required
                        </mat-hint>     
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('firstName')?.hasError('maxlength') && profileUpdateForm.get('firstName')?.touched">
                            First name max length is 50 characters 
                        </mat-hint>
                    </td>         
                </tr>
                <tr>    
                    <td colspan="2">  
                        <label for="lastName"><b>Last name:</b></label>  
                        <mat-form-field class="demo-full-width">    
                            <input formControlName="lastName" id="lastName" matInput >    
                        </mat-form-field> 
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('lastName')?.errors?.['required'] && profileUpdateForm.get('lastName')?.touched">
                            Last name is required
                        </mat-hint>     
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('lastName')?.hasError('maxlength') && profileUpdateForm.get('lastName')?.touched">
                            Last name max length is 50 characters 
                        </mat-hint>   
                    </td>         
                </tr> 
                <tr>
                    <b>Contact:</b>
                </tr>
                <tr>    
                    <td>    
                        <mat-form-field id="phoneNumber" class="demo-full-width">    
                            <input formControlName="phoneNumber" matInput placeholder="Phone number">    
                        </mat-form-field> 
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('phoneNumber')?.errors?.['required'] && profileUpdateForm.get('phoneNumber')?.touched">
                             Phone number is required
                        </mat-hint>     
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('phoneNumber')?.hasError('pattern') && profileUpdateForm.get('phoneNumber')?.touched">
                             Phone number is invalid
                        </mat-hint>    
                    </td>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input formControlName="email" matInput placeholder="Email">    
                        </mat-form-field> 
                        <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('email')?.errors?.['required'] && profileUpdateForm.get('email')?.touched">
                           Email is required
                       </mat-hint>     
                       <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('email')?.hasError('email') && profileUpdateForm.get('email')?.touched">
                            Email is invalid
                       </mat-hint>  
                       <mat-hint style="color: red;"  *ngIf="profileUpdateForm.get('email')?.hasError('maxlength') && profileUpdateForm.get('email')?.touched">
                        Email max length is 50 characters 
                    </mat-hint>     
                    </td>    
                </tr>         
                    
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center" style="padding: 35px;">   
                        <button  [disabled]="!profileUpdateForm.valid"  mat-raised-button color="accent" type="submit" style="margin-left: 10%;">Save changes</button>      
                    </td>    
                </tr>    
            </table>    
        </form>    


    </mat-card-content>   
</mat-card>   