<mat-card class="page">
  <mat-toolbar *ngIf="sidenav.mode === 'over'"  style="display: flex;">
    <div class="nav">
      <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    </div>
    <div class="nav"></div>
    
  </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
          <img
            class="avatar mat-elevation-z8"
            src="./../../../../assets/img/profileAvatar.png"
          />
      
          <h4 class="name">{{(account$ | async)?.firstName + " " + (account$ | async)?.lastName}}</h4>
          <p class="designation">{{(account$ | async)?.role == 0 ? "Standard user" : "Administrator" }}</p>
      
          
      
          <button mat-button class="menu-button" routerLink="/profile/{{loggedInUsersUsername}}">
           
            <span>Details</span>
          </button>
          <button mat-button class="menu-button" routerLink="/profile/{{loggedInUsersUsername}}/items/lost">
          
            <span>Items I have lost</span>
          </button>
          <button mat-button class="menu-button" routerLink="/profile/{{loggedInUsersUsername}}/items/found">
           
            <span>Items I have found</span>
          </button>
          <button mat-button class="menu-button" routerLink="/profile/{{loggedInUsersUsername}}/items/unactive">
          
            <span style="color: #ff4081;">Expired advertisements</span>
          </button>
         
          <button mat-button class="menu-button" routerLink="/profile/{{loggedInUsersUsername}}/messages">
            <mat-icon>mail_outline</mat-icon>
            <span>Messages</span>
          </button>
      
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>  
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </mat-card>