<div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
  <mat-card class="example-card" *ngFor="let advertisement of (advertisements$ |async)">
    <mat-card-header fxLayoutAlign="space-between center">
      <mat-chip-list aria-label="Dog selection">
      <mat-chip>
        {{advertisement.lost ? 'Lost' : 'Found'}}
      </mat-chip>
    </mat-chip-list>
    </mat-card-header>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
      <mat-card-title>{{advertisement.item.title}}</mat-card-title>
      <mat-card-subtitle>{{advertisement.item.category.name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="image" *ngIf="!advertisement.item.imageData"  mat-card-image src = "./../../../../assets/img/noImage.png">
    <img class="image" *ngIf="advertisement.item.imageData != null" mat-card-image [src] = "prepareSource(advertisement.item.imageData)">
    <mat-card-content>
      <div class="description-container">
        <p>
          {{prepareShortDescription(advertisement.item.description)}}
        </p>
      </div>
     
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <p>
        <b>{{advertisement.lost ? 'Loss date:' : 'Find date:'}}</b> {{ (advertisement.lost ? advertisement.item.lossDate : advertisement.item.findingDate)  | date}}
      </p>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button [routerLink] = "['/advertisement', advertisement.advertisementId]">DETAILS</button>
      <button mat-button>CONTACT USER</button>
    </mat-card-actions>
  </mat-card>
</div>