<div id="container">
  <div id="header">
    <div class="avatarSection">

      <div class="nameSection" style="margin-left: 20px ;">{{loggedInUsersUsername}}</div>
    </div>
  </div>
  <div id="body">

    <div *ngIf="chatWith">
      <div *ngIf="loggedInUsersAccount">
        <div *ngFor="let message of ( messages$ | async )" class="message">
          <div [ngClass]="{ right : message.accountId === loggedInUsersAccount?.accountId, left : message.accountId !== loggedInUsersAccount?.accountId}">
            <div class="messageContent">
              {{message.content}}
              <div class="time"> {{message.sendDateTime | date:'shortTime':'+0400'}} </div>
            </div>
          </div>
        </div>
        <div *ngFor="let signalRMessage of newSignalRMessages" class="message">
          <div [ngClass]="{ right : signalRMessage.From === loggedInUsersAccount?.accountId, left : signalRMessage.From !== loggedInUsersAccount?.accountId}">
            <div class="messageContent">
              {{signalRMessage.content}}
              <div class="time"> {{dateWhenMessageReceived | date:'shortTime':'+0200'}} </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="!chatWith">
      Pazi sta radis
    </div>

  </div>
  <div id="footer">
    <div id="smileyIcon">
    </div>
    <div id="textarea">
      <textarea></textarea>
    </div>
    <div id="micIcon">
      <mat-icon>send</mat-icon>
    </div>
  </div>
</div>
