<div class="sidebar">
    <div class="row1">
      <div class="sidebarHeader">
        
        <div class="actionsContainer">
          
        </div>
      </div>
    </div>
  
    <div id="sidebarContent">
    
  
      <div *ngFor="let chatGroup of (groups$ | async)"
        (click) = "chatGroupSelected(chatGroup.chatWith)"
        class="conversation">
        <div class="picture">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="content">
          <div class="conversationHeader">
            <div class="name">{{chatGroup.chatWith}}</div>
            <div class="time" *ngIf="newMessageWhileChatOpened" >{{dateWhenMessageReceived | date:'medium':'+0200'}}</div>
            <div class="time" *ngIf="!newMessageWhileChatOpened" >{{chatGroup.lastMessage.sendDateTime | date:'medium':'+0400'}}</div>
          </div>
          <div class="message" *ngIf="newMessageWhileChatOpened">
            {{newLatestMessage.content}}
          </div>
          <div class="message" *ngIf="!newMessageWhileChatOpened">
            {{chatGroup.lastMessage.content}}
          </div>
        </div>
      </div>

    </div>
  </div>
  