<div *ngIf="found" class="flex-container">
    <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" >
          <mat-card-header fxLayoutAlign="space-between center">
            <mat-chip-list aria-label="Dog selection">
            <mat-chip>
              
            </mat-chip>
          </mat-chip-list>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="image" mat-card-image src = "./../../../../assets/img/noImage.png">
          
          <mat-card-content>
            <div class="description-container">
              <p>
                
              </p>
            </div>
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >DETAILS</button>
            <button mat-button>CONTACT USER</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" >
          <mat-card-header fxLayoutAlign="space-between center">
            <mat-chip-list aria-label="Dog selection">
            <mat-chip>
              
            </mat-chip>
          </mat-chip-list>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="image" mat-card-image src = "./../../../../assets/img/noImage.png">
          
          <mat-card-content>
            <div class="description-container">
              <p>
                
              </p>
            </div>
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >DETAILS</button>
            <button mat-button>CONTACT USER</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" >
          <mat-card-header fxLayoutAlign="space-between center">
            <mat-chip-list aria-label="Dog selection">
            <mat-chip>
              
            </mat-chip>
          </mat-chip-list>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="image" mat-card-image src = "./../../../../assets/img/noImage.png">
          
          <mat-card-content>
            <div class="description-container">
              <p>
                
              </p>
            </div>
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >DETAILS</button>
            <button mat-button>CONTACT USER</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" >
          <mat-card-header fxLayoutAlign="space-between center">
            <mat-chip-list aria-label="Dog selection">
            <mat-chip>
              
            </mat-chip>
          </mat-chip-list>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="image" mat-card-image src = "./../../../../assets/img/noImage.png">
          
          <mat-card-content>
            <div class="description-container">
              <p>
                
              </p>
            </div>
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >DETAILS</button>
            <button mat-button>CONTACT USER</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" >
          <mat-card-header fxLayoutAlign="space-between center">
            <mat-chip-list aria-label="Dog selection">
            <mat-chip>
              
            </mat-chip>
          </mat-chip-list>
          </mat-card-header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="image" mat-card-image src = "./../../../../assets/img/noImage.png">
          
          <mat-card-content>
            <div class="description-container">
              <p>
                
              </p>
            </div>
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >DETAILS</button>
            <button mat-button>CONTACT USER</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
<p *ngIf="!found">lost</p>