<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Hi there, to continue please:</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
            <mat-card-content>
              <form [formGroup]="SingInForm" (ngSubmit)="signIn()">
                <mat-error *ngIf="loginFailed" class="alert alert-danger">
                  <p>
                    {{errorMessageLogin}}
                  </p>
                </mat-error>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Username"
                    required
                    name="username"
                    formControlName="Username"
                    >
                    <mat-error *ngIf="signInError('Username', 'required')">Username is required</mat-error>
                    <mat-error *ngIf="signInError('Username', 'maxlength')">Username max length is 50 characters</mat-error>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="8"
                    name="password1"
                    formControlName="Password"
                  >
                  <mat-error *ngIf="signInError('Password', 'required')">Password is required</mat-error>
                  <mat-error *ngIf="signInError('Password', 'minlength')">Minimum password length is 8</mat-error>
                    
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

              
                
                <button [disabled]="SingInForm.invalid" 
                  type="submit"
                  mat-raised-button
                  color="primary"
                  class="login-button">
                  Sign In
                </button>

  
              </form>
            </mat-card-content>
        </mat-tab>


        <mat-tab label="Sign Up">
          <mat-card-content>
            <form [formGroup]="RegisterForm" (ngSubmit)="signUp()">
              <mat-error *ngIf="registerFailed" class="alert alert-danger">
                <p>
                  {{errorMessageRegister}}
                </p>
              </mat-error>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username"
                  required
                  name="usernameR"
                  formControlName="Username"
                 >
                 <mat-error *ngIf="signUpError('Username', 'required')">Username is required</mat-error>
                 <mat-error *ngIf="signUpError('Username', 'maxlength')">Username max length is 50 characters</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
                
  
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="First name"
                  required
                  name="firstName"
                  formControlName="FirstName"
                 >
                 <mat-error *ngIf="signUpError('FirstName', 'required')">Firstname is required</mat-error>
                 <mat-error *ngIf="signUpError('FirstName', 'maxlength')">FirstName max length is 50 characters</mat-error>
                <mat-icon matSuffix>face</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Last name"
                  type="lastName"
                  required
                  name="lastName"
                  formControlName="LastName"
                 >
                 <mat-error *ngIf="signUpError('LastName', 'required')">Lastname is required</mat-error> 
                 <mat-error *ngIf="signUpError('LastName', 'maxlength')">LastName max length is 50 characters</mat-error>
                <mat-icon matSuffix>face</mat-icon>
  
              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="Email"
                  type="email"
                  required
                  name="email"
                  formControlName="Email"
                 >
                 <mat-error *ngIf="signUpError('Email', 'required')">Email is required</mat-error>
                 <mat-error *ngIf="signUpError('Email', 'email')">Incorrect email</mat-error>
                 <mat-error *ngIf="signUpError('Email', 'maxlength')">Email max length is 50 characters</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="Phone number"
                type="phoneNumber"
                required
                name="phoneNumber"
                formControlName="PhoneNumber"
               >
               <mat-error *ngIf="signUpError('PhoneNumber', 'required')">Phone number is required</mat-error>
               <mat-error *ngIf="signUpError('PhoneNumber', 'pattern')">Incorrect phone number</mat-error>
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="8"
                  name="passwordR1"
                  formControlName="Password"
                >
                <mat-error *ngIf="signUpError('Password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="signUpError('Password', 'minlength')">Minimum password length is 8</mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Confirm password"
                  type="password"
                  required
                  minlength="8"
                  name="passwordR2"
                  formControlName="ConfirmPassword"
                >
                <mat-error *ngIf="signUpError('Password', 'required')">Password confirmation is required</mat-error>
                <mat-error *ngIf="signUpError('Password', 'minlength')">Minimum password length is 8</mat-error>      
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <button [disabled]="RegisterForm.invalid"
                mat-raised-button
                color="primary"
                class="login-button">
                Sign Up
              </button>
            </form>
          </mat-card-content>
        </mat-tab>  
      </mat-tab-group>
    </mat-card>
</div>