.login-page {
    top: 0;
    margin-top: 60px;
    
    padding: 0;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: #fafafa;
  }
  
  mat-card {
    width: 60%;
    margin: 2% auto;
    border-radius: 8px;
  }

  @media (max-width: 550px) {
    mat-card {
      width: 85%;
    }
}
  mat-form-field {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  mat-error {
    margin: 5% 5% auto;
    width: 80%;
    display: block;
    margin-top: 5px;
  }

  mat-card-content {
    margin-top: 20px;
    
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  mat-card-title {
    margin-bottom: 30px;
    padding-top: 20px;
    line-height: 30px;
  }
