<mat-card class="container">     
    <mat-card-content>
        <mat-card-header>
           <p>
            Have you <b> found</b> or <b> lost</b> item?
           </p>
        </mat-card-header>    
        <form [formGroup]="publishForm" (ngSubmit)="publish()">    
            <table>
                <tr>    
                    <td colspan="2" style="padding-bottom: 20px;">
                            <mat-radio-group  formControlName="lostOrFound" name="radioGroup">    
                                <mat-radio-button name="lost" value="lost" checked="true">LOST</mat-radio-button>    
                                <mat-radio-button name="found" value="found">FOUND</mat-radio-button>    
                            </mat-radio-group>           
                    </td>        
                </tr>
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input formControlName="title" matInput placeholder="Title">    
                        </mat-form-field>    
                    </td>         
                </tr>         
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <textarea formControlName="description" matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>    
                        </mat-form-field>    
                    </td>
                </tr>
                <tr> 
                    <td style="padding-top: 35px;">    
                        <span>Select item image (optional)</span><br><br>      
                    </td> 
                    <td><br>
                        <div class="file-upload">

                            {{fileName || "No file uploaded yet."}}
            
                            <button mat-mini-fab color="primary" class="upload-btn"
                                (click)="fileUpload.click()" type="button">
                                    <mat-icon>attach_file</mat-icon>
                            </button>
            
                        </div>
                    </td>
                    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input formControlName="lossOrFoundDate" matInput [matDatepicker]="picker" placeholder="{{publishForm.get('lostOrFound')?.value == 'lost' ? 'Loss date' : 'Found date'}}">    
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td style="padding-top: 35px;">    
                        <span>Select item category</span><br><br>      
                    </td>    
                    <td><br>    
                        <mat-form-field>    
                            <mat-select placeholder="Category" formControlName="category">    
                                <mat-option *ngFor="let category of (categories$ | async)"  value="{{category.categoryId}}" >{{category.name}}</mat-option>      
                            </mat-select>    
                        </mat-form-field>    
                    </td>    
                </tr>        
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center" style="padding: 35px;">    
                        <button mat-raised-button color="accent" type="submit">Submit</button>    
                    </td>    
                </tr>    
            </table>    
        </form>

        <input type="file" class="file-input"
                (change)="onFileSelected($event)" #fileUpload>

            


    </mat-card-content>    
</mat-card>   