.sticky {
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
  }
  
  .logo {
    cursor: pointer;
    margin: 0;
    margin-right: 50px;
    text-decoration: none;
    color:aliceblue;
}

.margin {
  margin-left: 30px;
  margin-right: 10px;
}


