<mat-card class="example-card" *ngIf="adv">
    <mat-card-header fxLayoutAlign="space-between center">
      <mat-chip-list aria-label="Dog selection">
      <mat-chip>
        {{(adv)?.lost ? 'Lost' : 'Found'}} 
      </mat-chip>
    </mat-chip-list>
    </mat-card-header>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
      <mat-card-title> {{(adv)?.item?.title}} </mat-card-title>
      <mat-card-subtitle> {{(adv)?.item?.category?.name}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imagePath"
      alt="photo">
    <mat-card-content>
      <p>
        <b>
          Description:
        </b>
      </p>
      <p>
        {{(adv)?.item?.description}}
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="ownerAccount">
      <p class = "firstP">
        <b>Phone number:</b> {{ownerAccount.phoneNumber}}
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="ownerAccount">
      <p>
        <b>Email:</b> {{ownerAccount.email}}
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class = "firstP">
        <b>{{adv?.lost ? 'Loss date:' : 'Find date:'}}</b> {{ (adv.lost ? adv.item.lossDate : adv.item.findingDate)  | date:'mediumDate':'+0400'}}
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="adv.item.locationLat && adv.item.locationLng">
      <span> <b>Location</b>  {{ adv.lost ? " where item was lost:" : " where item was found:"}}</span><br><br>
      <app-location-adv-item [lat] = "adv.item.locationLat" [lng]="adv.item.locationLng"></app-location-adv-item>
    </mat-card-content>

    <mat-card-actions>
      <div class="centar-horizontal">
        <button  mat-raised-button color="accent" [routerLink] = "['/contact', adv.accountId]" >CONTACT USER</button>
      </div>
    </mat-card-actions>
  </mat-card>